{% extends 'main/shablon.html' %}

{% block title %}Покупка{% endblock %}

{% block content %}
<div class="features">
    <h1>Заполните данные</h1>
        <form>
            <input type="text" placeholder="Введите адрес доставки" class="from-control"><br><br>
            <input type="text" placeholder="Размер товара" class="from-control"><br><br>
            <input type="text" placeholder="Электронную почту" class="from-control"><br><br>
            <input type="text" placeholder="ФИО" class="from-control"><br><br>
             <button class="btn btn-info"><a href="{% url 'vce' %}">Завершить заказ</a></button>
        </form>
</div>


{% endblock %}